PORT = 5000
MONGODB_URI=
JWT_SECRET=any_secret_string_for_jwt_signing
CLIENT_URL=http://localhost:5173
SEND_GRID_API=Get_your_send_grid_api_key_from_send_grid
FROM_EMAIL=	your_email_address_to_send_emails_from

# NODE_ENV is not set automatically, so tell Arcjet we're in dev
# You can leave this unset in prod
ARCJET_ENV=development

# Get your site key from https://app.arcjet.com
ARCJET_KEY=your_arcjet_site_key

